.aboutUsGrid{
    display: grid;
    gap: 6.667vw;
    justify-content: center;
    align-items: center;
}
.aboutUsSectionGrid{
    display: grid;
    align-items: center;
    justify-content: center;
}
.aboutUsSectionGridImage{
    display: flex;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
.aboutUsSectionGridImage{
    height: 100%;
    width: 100%;
}